.section-header {
  --border-color: var(--coloron-primary-low, #000);

  padding-top: 45px;
  padding-bottom: 30px;

  border-bottom: 1px solid var(--border-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
